body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-size: cover;
    /* 模糊度 */
    backdrop-filter: blur(50px);
    overflow: hidden;
}

.upper-container {
    padding-left: 10%;
    height: 80%;
}

.record-container {
    float: left;
    width: 50%;
    height: 100%;
    padding-top: 20px;
}

.record-bg {
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.record-img {
    width: 200px;
    height: 200px;
    /* 本地图片 */
    background-image: url(../img/record0.jpg);
    background-size: 100% 100%;
    border-radius: 200px;
}

/* 歌曲名部分 */
.introduction-container {
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.music-title {
    font-size: 4rem;
}

.author-container {
    font-size: 2rem;
}

.bottom-container {
    height: 20%;
    padding: 0 30px;
}

/* 进度条 */
.progress {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 25px;
}

/* 进度条已播放 */
.progress-play {
    width: 50%;
    height: 3px;
    background-color: green;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.left {
    color: white;
    font-weight: 300;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    color: #fff;
}

.center-icon {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 20px;
}

.center-icon:hover {
    opacity: 0.7;
}

.center-icon:active {
    opacity: 0.6;
}

#playMode {
    background-image: url('./../img/mode1.png');
    background-size: 100% 100%;
}

#before-music {
    background-image: url('./../img/上一首.png');
    background-size: 100% 100%;
}

#playPause {
    width: 50px;
    height: 50px;
    /* background-image: url('./../img/继续播放.png');
    background-size: 100% 100%; */
}

.icon-play {
    background-image: url('./../img/继续播放.png');
    background-size: 100% 100%;
}

.icon-pause {
    background-image: url('./../img/暂停.png');
    background-size: 100% 100%;
}

#last-music {
    background-image: url('./../img/下一首.png');
    background-size: 100% 100%;
}

#volumn {
    background-image: url('./../img/音量.png');
    background-size: 100% 100%;
}

/* 音量条 */
#volumn-togger {
    width: 100px;
    height: 8px;
    appearance: none;
    background-color: #dcdcdc;
    border-radius: 15px;
    outline: none;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgb(91, 91, 91);
}

#volumn-togger::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 8px;
    border-radius: 50%;
    background: green;
    border: 4px solid #fff;
    cursor: pointer;
    box-shadow: -407px 0 0 400px green;
}

/* 右边按钮 */
.right {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.bottom-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.bottom-icon:hover {
    opacity: 0.7;
}

.bottom-icon:active {
    opacity: 0.6;
}

#MV {
    background-image: url('./../img/MV.png');
    background-size: 100% 100%;
}

#list {
    background-image: url('./../img/列表.png');
    background-size: 100% 100%;
}

#speed {
    color: white;
}

#speed:hover {
    opacity: 0.7;
}

/* 唱片旋转 */
.rotate-play {
    animation: rotateAni 10s infinite linear;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes rotateAni {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.close-list {
    display: none;
    width: 75%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.music-container {
    display: none;
    height: 100%;
    width: 25%;
    position: fixed;
    background-color: black;
    top: 0;
    right: 0;
    color: white;
    padding: 30px;
}

.musicList-title {
    font-size: 50px;
}

.musiclists {
    font-size: 30px;
}

.musiclists div {
    padding: 7px 0;
}

.musiclists div:hover {
    background-color: rgb(71, 69, 69);
}

.list-show {
    animation: showAni 1s;
    animation-fill-mode: forwards;
}

.list-hide {
    animation: hideAni 1s;
    animation-fill-mode: forwards;
}

@keyframes showAni {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes hideAni {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}